<header class="container-fluid">
	<div id="breadcrumbs" class="row">
		<a href="#">Páginal Inicial</a> > <span>Painel de Gestão</span>
	</div>
	<div id="header" class="row">
		<div id="title" class="col-8">
			<img src="assets/images/icon-globo1.png">
			<h3>Painel de Gestão</h3>
		</div>
		<div id="produto" class="col-4">
			<label for="Produto">Produto: </label>
			<select name="" id="produto">
				<option>Todos</option>
			</select>
		</div>
	</div>
</header>
<section class="container-fluid">
	<div class="row">
		<aside id="atalhos" class="col-7 m-2 ml-4">
			<h3>Atalhos</h3>
			<div class="row">
				<div class="lista col-8">
					<h4>Operacional</h4>
					<ul>
						<li>Envio</li>
						<li>Assinatura</li>
						<li>Envio de Duplicatas</li>
						<li>Assinatura Digital</li>
						<li>Nova Operação</li>
					</ul>
				</div>
				<div id="geral" class="lista col-4">
					<h4>Geral</h4>
					<ul>
						<li>Carteira</li>
						<li>Inscruções</li>
					</ul>
				</div>
			</div>
		</aside>
		<aside id="alertas" class="col-4 m-2">
			<h3>Alertas <span>Últimos 5 dias</span></h3>
			<ul>
				<li>
					<span>23 Notas Canceladas</span>
				</li>
				<li>
					<span>13 Notas Canceladas</span>
					<select name="" id="">
						<option value="">Ações</option>
					</select>
				</li>
				<li>
					<span>7 Assinaturas</span>
					<select name="" id="">
						<option value="">Ações</option>
					</select>
				</li>
			</ul>
		</aside>
	</div>
</section>
