#grupoEconomico{
  select{
    border: 1px solid #408ccb;
  }
}
#usario{
	background: #002035;
  color: #fff;
  select{
    border: 0px;
    color: #fff;
  }
}
#notificacao{
  background: #408ccb;
  text-align:center;
  padding: 10px;
  label{
    background: #f00c10;
    color: #fff;
    padding: 1px 6px;
    border-radius: 50px;
    position: relative;
    left: -10px;
    top: -6px;
    font-size: 0.8rem;
  }
}
