<header class="container-fluid">
	<div id="breadcrumbs" class="row">
		<a href="#">Páginal Inicial</a> > <span>BlockChain Existente</span>
	</div>
	<div id="header" class="row">
		<div id="title" class="col-8">
			<img src="assets/images/icon-blockchain.png">
			<h3>BlockChain Existente</h3>
		</div>
	</div>
</header>
<section class="container-fluid">
  <aside>
    <input text="text" placeholder="Buscar" [(ngModel)]="searchText" />
    <div id="tabela">
    <table>
      <tr>
        <th>Nome</th>
        <th>Preço em Dólar</th>
      </tr>
      <tr *ngFor="let coin of listCoins | filter : 'name' : searchText">
        <td>{{coin.name}}</td>
        <td>{{coin.price_usd}}</td>
      </tr>
    </table>
  </div>
  </aside>
</section>
